.cabeçalho{
    background-color:rgb(163, 66, 53);
    color:rgb(63, 212, 212);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
 .cabeçalho-cabeçalho{
     widht: 10%;
 }
